.profile{
    flex: 0.7;
    border-right: 1px solid var(--dwidder-background);
    min-width: fit-content;
    overflow-y: scroll;
    width: "100%";
}

@media screen and (max-width: 420px) {
.profile{
    flex: 1;
}

}

.profile::-webkit-scrollbar{
    display: none;
}

.feed__header{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--dwidder-background);
    padding: 15px 20px;
}

.edit__profile{
    border: 3px solid #50b7f5; 
    padding: 5px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
}